In [76]:
import pandas as pd
import glob
import os
import time
import re
from bs4 import BeautifulSoup
import numpy as np

In [5]:
file_location = "C://Users//vince//stockmy//test//xml"

In [6]:
file_list = []
file_list = glob.glob(file_location + "//*xml")

In [7]:
file_list

['C://Users//vince//stockmy//test//xml\\GTB- Unaudited financial result for 1st qtr 31 March 2019.pdf.xml',
 'C://Users//vince//stockmy//test//xml\\Q2 2019 Announcement.pdf.xml',
 'C://Users//vince//stockmy//test//xml\\Q3 2019 Announcement.pdf.xml',
 'C://Users//vince//stockmy//test//xml\\Q4 2019 Announcement.pdf.xml']

In [39]:
soup_obj = []
file = 'C://Users//vince//stockmy//test//xml\\Q2 2019 Announcement.pdf.xml'
with open(file, encoding='utf8') as f:   
    contents = f.read()
    soup = BeautifulSoup(contents, 'lxml')

In [44]:
page = soup.findAll('page')

In [46]:
len(page)

15

In [91]:
whole_pdf = []
df = []
for singlepage in page:
    res = []
    for text in singlepage.findAll('text'):
        top = text.get('top')
        left = text.get('left')
        width = text.get('width')
        row = [left, top, width, text.text.strip()]       
        res.append(row)
        df = pd.DataFrame(res, columns=["Left" ,"Top" ,"Width" ,"Content"])
    whole_pdf.append(df)

In [108]:
whole_pdf[2]

    Left   Top Width                                            Content
0    159    62   279                         GREATECH TECHNOLOGY BERHAD
1    159    82   180                            (Company No. 1270647-H)
2    159   103   368  (Incorporated in Malaysia under the Companies ...
3    159   124   444  Interim Financial Report For The Second Quarte...
4    436   263    65                                         30/06/2019
..   ...   ...   ...                                                ...
117  159   975   650  No comparative figures for the corresponding p...
118  159   995   649  interim financial report on the consolidated r...
119  159  1015   650  Company in compliance with the ACE Market List...
120  159  1035   159                          (“Listing Requirements”).
121  488  1146     8                                                  2

[122 rows x 4 columns]

In [109]:
df = whole_pdf[2].astype({"Left": int, "Top": int, "Width": int, "Content": str})
df.dtypes

Left        int32
Top         int32
Width       int32
Content    object
dtype: object

In [110]:
print(df)

     Left   Top  Width                                            Content
0     159    62    279                         GREATECH TECHNOLOGY BERHAD
1     159    82    180                            (Company No. 1270647-H)
2     159   103    368  (Incorporated in Malaysia under the Companies ...
3     159   124    444  Interim Financial Report For The Second Quarte...
4     436   263     65                                         30/06/2019
..    ...   ...    ...                                                ...
117   159   975    650  No comparative figures for the corresponding p...
118   159   995    649  interim financial report on the consolidated r...
119   159  1015    650  Company in compliance with the ACE Market List...
120   159  1035    159                          (“Listing Requirements”).
121   488  1146      8                                                  2

[122 rows x 4 columns]

In [111]:
newdf = df.sort_values(by = ['Top', 'Left'])

In [112]:
newdf.to_csv(r'test3.csv')

In [98]:
lol = newdf.Content.notnull()

In [104]:
current_row_pos = 0
res = []
for row in newdf.Top:
    current_row_pos = row
    if(current_row_pos != )

63
84
106
128
171
189
192
234
234
255
255
275
275
296
296
317
338
359
359
359
359
359
401
422
422
422
422
422
442
442
442
442
442
463
463
463
463
463
484
484
484
484
484
505
505
505
505
505
526
526
526
526
545
545
545
545
545
589
610
630
630
630
630
630
651
651
651
651
651
672
672
672
672
672
709
730
730
730
730
730
751
751
751
751
751
772
772
772
772
810
831
831
831
831
831
852
852
852
852
852
873
873
873
873
873
894
894
894
894
894
915
915
915
915
936
936
936
936
936
955
955
955
955
955
998
998
998
998
998
1019
1019
1019
1019
1019
1056
1057
1078
1099
1145